Mobile.dtd

<!ELEMENT Mobile (Company, Model+, Price*, Accessories)>
<!ELEMENT Company (#PCDATA)>
<!ELEMENT Model (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Accessories (#PCDATA)>
<!ATTLIST Model Type CDATA "Camera">
<!ATTLIST Mobile Id CDATA #IMPLIED>
<!ATTLIST Mobile Id1 CDATA #REQUIRED>
<!ATTLIST Mobile Id2 CDATA #FIXED "haha">
<!ATTLIST Mobile Id3 (Camera|Bluetooth) "Camera">
<!ENTITY CH "Charger">
<!ENTITY SH SYSTEM "sh.txt">