student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://abc.com" xmlns="http://abc.com" elementFormDefault="qualified">
    <xsd:element name="student">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="name" type="xsd:string"></xsd:element>
                <xsd:element name="haha" type="xsd:string"></xsd:element>
                <xsd:element name="hihi" type="xsd:string"></xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>